{% extends 'admin/base.html' %}
{% include 'admin/header.html' %}
{% block title %} Answer {% endblock %}

{% block body %}
<script>
    jQuery(function($) {
      window.get_answers({{ question.id }});
    });
</script>
<div class="C0mplexButton float-end">
    <a href="/question/{{ question.topic_id }}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        X
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-secondary" role="alert">
              <h2>Manage <b>{{ question.name_uz_uz }} Answers</b>
                  <button type="button" class="btn btn-outline-success float-end" data-bs-whatever="Add new" ng-click="add_edit_answer(0)"><i class="fa fa-add"></i> Add new answer</button>
              </h2>
                {% raw %}
                <table class="table table-hover table-dark text-left" ng-show="show_answers_data">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Right</th>
                            <th>Name</th>
                            <th width="300px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in answers">
                            <td>{{item.number}}</td>
                            <td>{{item.right}}</td>
                            <td>{{item.name_uz_uz}}</td>
                            <td>
                                <button class="btn btn-outline-warning btn-xs" data-bs-whatever="Edit" ng-click="add_edit_answer(item)"><i class="fa fa-edit"></i> Edit</button>
                                <button class="btn btn-outline-danger btn-xs" ng-click="remove_answer(item)"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="answer_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form class="row g-3 needs-validation was-validated" name="answer_form" novalidate>
          <div class="modal-header">
              {% raw %}
                <h1 class="modal-title fs-5" id="answerModalLabel">{{modal_title}} answer</h1>
              {% endraw %}
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <label for="number" class="col-form-label">number:</label>
                <input type="number" class="form-control" id="number" name="number" ng-model="answer.number" required>
              </div>
              <div class="mb-3">
                <label for="right" class="col-form-label">right:</label>
                <input type="checkbox" class="form-check-input mt-2" id="right" name="right" ng-model="answer.right">
              </div>
              <div class="mb-3">
                <label for="name_en_us" class="col-form-label">name_en_us:</label>
                <input type="text" class="form-control" id="name_en_us" name="name_en_us" ng-model="answer.name_en_us" required>
              </div>
              <div class="mb-3">
                <label for="name_ru_ru" class="col-form-label">name_ru_ru:</label>
                <input type="text" class="form-control" id="name_ru_ru" name="name_ru_ru" ng-model="answer.name_ru_ru" required>
              </div>
              <div class="mb-3">
                <label for="name_uz_crl" class="col-form-label">name_uz_crl:</label>
                <input type="text" class="form-control" id="name_uz_crl" name="name_uz_crl" ng-model="answer.name_uz_crl" required>
              </div>
              <div class="mb-3">
                <label for="name_uz_uz" class="col-form-label">name_uz_uz:</label>
                <input type="text" class="form-control" id="name_uz_uz" name="name_uz_uz" ng-model="answer.name_uz_uz" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="button" class="btn btn-outline-success" ng-disabled="answer_form.number.$error.required||answer_form.name_en_us.$error.required||answer_form.name_ru_ru.$error.required||answer_form.name_uz_crl.$error.required||answer_form.name_uz_uz.$error.required" ng-click="save_answer()"><i class="fa fa-check"></i> Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
        const answer_modal = new bootstrap.Modal(document.getElementById('answer_modal'));
</script>
{% endblock %}