{% extends 'admin/base.html' %}
{% include 'admin/header.html' %}
{% block title %} Book {% endblock %}

{% block body %}
<script>
    jQuery(function($) {
      window.get_books({{ group.id }});
    });
</script>
<div class="C0mplexButton float-end">
    <a href="/group">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        X
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-secondary" role="alert">
              <h2>Manage <b>{{ group.name_uz_uz }} Books</b>
                  <button type="button" class="btn btn-outline-success float-end" data-bs-whatever="Add new" ng-click="add_edit_book(0)"><i class="fa fa-add"></i> Add new book</button>
              </h2>
                {% raw %}
                <table class="table table-hover table-dark text-left" ng-show="show_books_data">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th width="300px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in books">
                            <td>{{item.book_type}}</td>
                            <td>{{item.name_uz_uz}}</td>
                            <td>
                                <a href="/topic/{{item.id}}" class="btn btn-outline-success btn-xs"><i class="fa fa-eye"></i> Enter</a>
                                <button class="btn btn-outline-warning btn-xs" data-bs-whatever="Edit" ng-click="add_edit_book(item)"><i class="fa fa-edit"></i> Edit</button>
                                <button class="btn btn-outline-danger btn-xs" ng-click="remove_book(item)"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="book_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form class="row g-3 needs-validation was-validated" name="book_form" novalidate>
          <div class="modal-header">
              {% raw %}
                <h1 class="modal-title fs-5" id="bookModalLabel">{{modal_title}} book</h1>
              {% endraw %}
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <label for="book_type" class="col-form-label">book_type:</label>
                <select class="form-select" aria-label="Default select example" id="book_type" name="book_type" ng-model="book.book_type" required>
                  <option selected value="alifbe">alifbe</option>
                  <option value="adabiyot">adabiyot</option>
                  <option value="algebra">algebra</option>
                  <option value="biologiya">biologiya</option>
                  <option value="dasturlash_asoslari">dasturlash_asoslari</option>
                  <option value="english">english</option>
                  <option value="fizika">fizika</option>
                  <option value="geografiya">geografiya</option>
                  <option value="geometriya">geometriya</option>
                  <option value="informatika">informatika</option>
                  <option value="kimyo">kimyo</option>
                  <option value="matematika">matematika</option>
                  <option value="onatili">onatili</option>
                  <option value="oqish">oqish</option>
                  <option value="ozbek_tili">ozbek_tili</option>
                  <option value="rustili">rustili</option>
                  <option value="yozuv">yozuv</option>
                  <option value="uzb_tarix">uzb_tarix</option>
                  <option value="jahon_tarix">jahon_tarix</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="name_en_us" class="col-form-label">name_en_us:</label>
                <input type="text" class="form-control" id="name_en_us" name="name_en_us" ng-model="book.name_en_us" required>
              </div>
              <div class="mb-3">
                <label for="name_ru_ru" class="col-form-label">name_ru_ru:</label>
                <input type="text" class="form-control" id="name_ru_ru" name="name_ru_ru" ng-model="book.name_ru_ru" required>
              </div>
              <div class="mb-3">
                <label for="name_uz_crl" class="col-form-label">name_uz_crl:</label>
                <input type="text" class="form-control" id="name_uz_crl" name="name_uz_crl" ng-model="book.name_uz_crl" required>
              </div>
              <div class="mb-3">
                <label for="name_uz_uz" class="col-form-label">name_uz_uz:</label>
                <input type="text" class="form-control" id="name_uz_uz" name="name_uz_uz" ng-model="book.name_uz_uz" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="button" class="btn btn-outline-success" ng-disabled="book_form.number.$error.required||book_form.name_en_us.$error.required||book_form.name_ru_ru.$error.required||book_form.name_uz_crl.$error.required||book_form.name_uz_uz.$error.required" ng-click="save_book()"><i class="fa fa-check"></i> Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
        const book_modal = new bootstrap.Modal(document.getElementById('book_modal'));
        // const book_modal_ = document.getElementById('book_modal')
        // book_modal_.addEventListener('show.bs.modal', event => {
        //   const button = event.relatedTarget
        //   const recipient = button.getAttribute('data-bs-whatever')
        //   const modalTitle = book_modal_.querySelector('.modal-title')
        //   modalTitle.textContent = `${recipient} Book`
        // })
</script>
{% endblock %}