{% extends 'admin/base.html' %}
{% include 'admin/header.html' %}
{% block title %} Admin Panel {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-secondary" role="alert">
              <h2>System <b>settings</b> <div class="spinner-border" role="status"></div></h2>
                {% raw %}
                    <div class="card" style="width: 18rem;">
                      <img src="/static/img/school_tests_bg.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">School tests</h5>
                        <p class="card-text">Tests for all school subjects.</p>
                        <a href="/group" class="btn btn-outline-primary">Enter</a>
                      </div>
                    </div>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
{% endblock %}