{% extends 'admin/base.html' %}
{% include 'admin/header.html' %}
{% block title %} Topic {% endblock %}

{% block body %}
<script>
    jQuery(function($) {
      window.get_topics({{ book.id }});
    });
</script>
<div class="container">
    <a href="/book/{{ book.group_id }}" class="btn btn-outline-danger float-end">X</a>
    <div class="row">
        <div class="col">
            <div class="alert alert-secondary" role="alert">
              <h2>Manage <b>Topics</b> {{ group.name_uz_uz }} <i class="fa-solid fa-angles-right"></i> {{ book.name_uz_uz }}
                  <button type="button" class="btn btn-outline-success float-end" data-bs-whatever="Add new" ng-click="add_edit_topic(0)"><i class="fa fa-add"></i> Add new topic</button>
              </h2>
                {% raw %}
                <table class="table table-hover table-dark text-left" ng-show="show_topics_data">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th width="300px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in topics">
                            <td>{{item.number}}</td>
                            <td>{{item.name_uz_uz}}</td>
                            <td>
                                <a href="/question/{{item.id}}" class="btn btn-outline-success btn-xs"><i class="fa fa-eye"></i> Enter</a>
                                <button class="btn btn-outline-warning btn-xs" data-bs-whatever="Edit" ng-click="add_edit_topic(item)"><i class="fa fa-edit"></i> Edit</button>
                                <button class="btn btn-outline-danger btn-xs" ng-click="remove_topic(item)"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="topic_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form class="row g-3 needs-validation was-validated" name="topic_form" novalidate>
          <div class="modal-header">
              {% raw %}
                <h1 class="modal-title fs-5" id="topicModalLabel">{{modal_title}} topic</h1>
              {% endraw %}
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <label for="number" class="col-form-label">number:</label>
                <input type="number" class="form-control" id="number" name="number" ng-model="topic.number" required>
              </div>
              <div class="mb-3">
                <label for="name_en_us" class="col-form-label">name_en_us:</label>
                <textarea class="form-control" id="name_en_us" name="name_en_us" ng-model="topic.name_en_us" required></textarea>
<!--                <input type="text" class="form-control" id="name_en_us" name="name_en_us" ng-model="topic.name_en_us" required>-->
              </div>
              <div class="mb-3">
                <label for="name_ru_ru" class="col-form-label">name_ru_ru:</label>
                <textarea class="form-control" id="name_ru_ru" name="name_ru_ru" ng-model="topic.name_ru_ru" required></textarea>
<!--                <input type="text" class="form-control" id="name_ru_ru" name="name_ru_ru" ng-model="topic.name_ru_ru" required>-->
              </div>
              <div class="mb-3">
                <label for="name_uz_crl" class="col-form-label">name_uz_crl:</label>
                <textarea class="form-control" id="name_uz_crl" name="name_uz_crl" ng-model="topic.name_uz_crl" required></textarea>
<!--                <input type="text" class="form-control" id="name_uz_crl" name="name_uz_crl" ng-model="topic.name_uz_crl" required>-->
              </div>
              <div class="mb-3">
                <label for="name_uz_uz" class="col-form-label">name_uz_uz:</label>
                <textarea class="form-control" id="name_uz_uz" name="name_uz_uz" ng-model="topic.name_uz_uz" required></textarea>
<!--                <input type="text" class="form-control" id="name_uz_uz" name="name_uz_uz" ng-model="topic.name_uz_uz" required>-->
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="button" class="btn btn-outline-success" ng-disabled="topic_form.number.$error.required||topic_form.name_en_us.$error.required||topic_form.name_ru_ru.$error.required||topic_form.name_uz_crl.$error.required||topic_form.name_uz_uz.$error.required" ng-click="save_topic()"><i class="fa fa-check"></i> Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
        const topic_modal = new bootstrap.Modal(document.getElementById('topic_modal'));
</script>
{% endblock %}