<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avto Test</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
 crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8DHWL20H58');
    </script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-95WQGY7X9E"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <link rel="icon" sizes="16x16" href="http://complexprogrammer.uz/static/img/avtotest.png">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.default.css">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.core.css">
    <script src="http://complexprogrammer.uz/static/alertify/alertify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="http://complexprogrammer.uz/static/angular.min.js"></script>
    <style>
    .wrapper{
      margin: 60px auto;
      text-align: center;
    }

    #pagination-demo{
      display: inline-block;
      margin-bottom: 1.75em;
    }
    #pagination-demo li{
      display: inline-block;
    }

    .page-content{
      background: #eee;
      display: inline-block;
      padding: 10px;
      width: 100%;
      max-width: 660px;
    }
    .alertify-log-custom {
        background: #fba155;
    }

    .poin:hover {
        cursor: pointer;
    }
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }
    .container {
      margin-top: 20px;
    }
    .page {
      display: none;
    }
    .page-active {
      display: block;
    }
        .hero-image {
          background: url("/static/img/avtotest.png") no-repeat center center fixed;
        }
    </style>
    <style>
        section {

          display: flex;
          align-items: center;
          justify-content: center;
        }
        h1 {
          font-family: "Montserrat";
          font-size: 90px;
        }
    </style>
</head>
<body ng-app="App" ng-controller="avtotest">
    <div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
        <img src="http://complexprogrammer.uz/static/img/buffering.gif" />
    </div>
    <input id="hh" type="hidden" />
    <audio id="click" controls="controls" style="position:absolute;visibility:hidden">
        <source src="http://complexprogrammer.uz/static/sounds/click.mp3" type="audio/mpeg" />
    </audio>
    <audio id="right" controls="controls" style="position:absolute;visibility:hidden">
        <source src="http://complexprogrammer.uz/static/sounds/right.mp3" type="audio/mpeg" />
    </audio>
    <audio id="wrong" controls="controls" style="position:absolute;visibility:hidden">
        <source src="http://complexprogrammer.uz/static/sounds/wrong.mp3" type="audio/mpeg" />
    </audio>
{%raw%}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{bilet}} - Bilet natijasi</h5>
        <button type="button" ng-show="timeout" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-3 mb-2 bg-secondary text-white" ng-show="10-togri_javob_soni-notogri_javob_soni!=0">Belgilanmagan savollar : {{10-togri_javob_soni-notogri_javob_soni}} ta</div>
        <div class="p-3 mb-2 bg-success text-white" ng-show="togri_javob_soni!=0&&notogri_javob_soni!=10">To'g'ri javob : {{togri_javob_soni}} ta</div>
        <div class="p-3 mb-2 bg-danger text-white" ng-show="notogri_javob_soni!=0&&togri_javob_soni!=10">Noto'g'ri javob : {{notogri_javob_soni}} ta</div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-show="timeout" class="btn btn-outline-secondary" style="width:200px" data-bs-dismiss="modal"><i class="bi bi-chevron-double-right"></i> Davom etish</button>
        <button type="button" class="btn btn-outline-primary" style="width:200px" ng-click="nextbilet(bilet+1)"><i class="bi bi-box-arrow-right"></i> {{bilet+1}} - biletga o'tish</button>
        <button type="button" class="btn btn-outline-danger" style="width:200px" ng-click="back()"><i class="bi bi-backspace"></i> Biletlarga qaytish</button>
        <button type="button" class="btn btn-outline-success" style="width:200px" ng-click="nextbilet(bilet)"><i class="bi bi-arrow-repeat"></i> Boshidan boshlash</button>
      </div>
    </div>
  </div>
</div>
{%endraw%}
    <hr />
    {% if bilet=='0' %}
    <div class="wrapper hero-image">
        <div class="C0mplexButton float-end">
            <a href="/#services">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                X
            </a>
        </div>
        <div class="container">
            <h1>Biletlar</h1>
            {% for i in range(1, 109, 4) %}
                <div class="row">
                    <div class="col">
                         <div class="C0mplexButton Success">
                            <a href="/avtotest/{{ i }}">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              &#9758;
                              {{ i }} - bilet
                            </a>
                        </div>
                    </div>
                    <div class="col">
                         <div class="C0mplexButton Success">
                            <a href="/avtotest/{{ i+1 }}">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              &#9758;
                              {{ i+1 }} - bilet
                            </a>
                        </div>
                    </div>
                    <div class="col">
                         <div class="C0mplexButton Success">
                            <a href="/avtotest/{{ i+2 }}">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              &#9758;
                              {{ i+2 }} - bilet
                            </a>
                        </div>
                    </div>
                    <div class="col">
                         <div class="C0mplexButton Success">
                            <a href="/avtotest/{{ i+3 }}">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              &#9758;
                              {{ i+3 }} - bilet
                            </a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="C0mplexButton float-end" ng-click="showModal()">
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            X
        </a>
    </div>
    <div class="wrapper">
          <div class="container">
              <h1 id="timer" ng-click="f()">00:00</h1>
              <input type="hidden" id="t" value="0" />
              <ul class="pagination pagination-lg">
                <li class="page-item" id="savol1" ng-click="b(1)"><a class="page-link" id="ab1" href="#">1</a></li>
                <li class="page-item" id="savol2" ng-click="b(2)"><a class="page-link" id="ab2" href="#">2</a></li>
                <li class="page-item" id="savol3" ng-click="b(3)"><a class="page-link" id="ab3" href="#">3</a></li>
                <li class="page-item" id="savol4" ng-click="b(4)"><a class="page-link" id="ab4" href="#">4</a></li>
                <li class="page-item" id="savol5" ng-click="b(5)"><a class="page-link" id="ab5" href="#">5</a></li>
                <li class="page-item" id="savol6" ng-click="b(6)"><a class="page-link" id="ab6" href="#">6</a></li>
                <li class="page-item" id="savol7" ng-click="b(7)"><a class="page-link" id="ab7" href="#">7</a></li>
                <li class="page-item" id="savol8" ng-click="b(8)"><a class="page-link" id="ab8" href="#">8</a></li>
                <li class="page-item" id="savol9" ng-click="b(9)"><a class="page-link" id="ab9" href="#">9</a></li>
                <li class="page-item" id="savol10" ng-click="b(10)"><a class="page-link" id="ab10" href="#">10</a></li>
              </ul>
            {% raw %}
                <div ng-repeat="item in data" ng-show="item.id==id">
                    <h4 class="page-content">{{bilet}} - bilet<br/>{{item.raqam}} - savol<br/>{{item.savol}}</h4>
                    <img ng-show="item.rasm" src="http://complexprogrammer.uz/static/avtotest/{{item.rasm}}" width="30%">
                    <div class="list-group" style="text-align:left">
                      <a ng-click="ok('A')" id="A{{item.id}}" href="#" class="list-group-item list-group-item-action" ng-class="item.berilgan_javob==''?'':item.berilgan_javob==item.javob&&item.javob=='A'?'list-group-item-success disabledDiv':item.berilgan_javob!=item.javob&&item.javob!='A'?'list-group-item-danger disabledDiv':'disabledDiv'" ng-show="item.javob_a!=''"><input type="radio" ng-model='mValue' ng-checked='mValue === A{{item.id}}' name="javob{{savol_raqami}}" value="A{{item.id}}"> {{item.javob_a}}</a>
                      <a ng-click="ok('B')" id="B{{item.id}}" href="#" class="list-group-item list-group-item-action" ng-class="item.berilgan_javob==''?'':item.berilgan_javob==item.javob&&item.javob=='B'?'list-group-item-success disabledDiv':item.berilgan_javob!=item.javob&&item.javob!='B'?'list-group-item-danger disabledDiv':'disabledDiv'" ng-show="item.javob_b!=''"><input type="radio" ng-model='mValue' ng-checked='mValue === B{{item.id}}' name="javob{{savol_raqami}}" value="B{{item.id}}"> {{item.javob_b}}</a>
                      <a ng-click="ok('C')" id="C{{item.id}}" href="#" class="list-group-item list-group-item-action" ng-class="item.berilgan_javob==''?'':item.berilgan_javob==item.javob&&item.javob=='C'?'list-group-item-success disabledDiv':item.berilgan_javob!=item.javob&&item.javob!='C'?'list-group-item-danger disabledDiv':'disabledDiv'" ng-show="item.javob_c!=''"><input type="radio" ng-model='mValue' ng-checked='mValue === C{{item.id}}' name="javob{{savol_raqami}}" value="C{{item.id}}"> {{item.javob_c}}</a>
                      <a ng-click="ok('D')" id="D{{item.id}}" href="#" class="list-group-item list-group-item-action" ng-class="item.berilgan_javob==''?'':item.berilgan_javob==item.javob&&item.javob=='D'?'list-group-item-success disabledDiv':item.berilgan_javob!=item.javob&&item.javob!='D'?'list-group-item-danger disabledDiv':'disabledDiv'" ng-show="item.javob_d!=''"><input type="radio" ng-model='mValue' ng-checked='mValue === D{{item.id}}' name="javob{{savol_raqami}}" value="D{{item.id}}"> {{item.javob_d}}</a>
                    </div>
                </div>
            {% endraw %}
        </div>
    </div>
    <script>
        if(window.screen.availWidth>1366){
            document.getElementsByClassName('pagination')[0].className ="pagination pagination-lg";
        }
        else{
            if(window.screen.availWidth>768&&window.screen.availWidth<1366){
                document.getElementsByClassName('pagination')[0].className ="pagination";
            }
            else{
                document.getElementsByClassName('pagination')[0].className ="pagination";
            }
        }
    </script>
    {% endif %}
    <hr />
    <script>
    var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
      keyboard: false
    });
      var app = angular.module("App", []);
      app.controller("avtotest", ["$scope", "$http", "$filter", function ($scope, $http, $filter) {
                var timeH = document.getElementById("timer");
                $scope.isPaused = false;
                $scope.timeout = false;
                $scope.savol_raqami=1;
                $scope.bilet={{ bilet }};
                $scope.time=900;
                $scope.togri_javob_soni=0;
                $scope.notogri_javob_soni=0;
                $scope.javoblar=[];
                $scope.data=[];
                //setCookie("javoblar", JSON.stringify($scope.javoblar), 365);
                if($scope.bilet!=0){
                    checkJavoblar();
                    LoadData();
                }
                $scope.mValue=null;
                $scope.back=function(){
                    window.location.href="/avtotest";
                }
                $scope.nextbilet=function(value){
                    if($scope.bilet==value)
                    {
                        setCookie("javoblar", JSON.stringify($scope.javoblar.filter(word => word.bilet != $scope.bilet)), 365);
                    }
                    window.location.href="/avtotest/"+value;
                }
                $scope.showModal=function(){
                    $scope.isPaused = true;
                    $scope.timeout = true;
                    myModal.show();

                }
                $('#timer').on('click', function(e) {
                  e.preventDefault();
                  //$scope.isPaused = !$scope.isPaused;
                });
                $("#staticBackdrop").on('hide.bs.modal', function(){
                    $scope.isPaused = false;
                });
                function startTimer(timeSecond){
                    displayTime(timeSecond);
                    const countDown = setInterval(() => {
                        if(!$scope.isPaused) {
                          timeSecond--;
                          $scope.time=timeSecond;
                          displayTime(timeSecond);
                          if (timeSecond == 0 || timeSecond < 1) {
                            endCount();
                            clearInterval(countDown);
                          }
                        }
                    }, 1000);
                }

                function displayTime(second) {
                  const min = Math.floor(second / 60);
                  const sec = Math.floor(second % 60);
                  timeH.innerHTML = `${min < 10 ? "0" : ""}${min}:${sec < 10 ? "0" : ""}${sec}`;
                }

                function endCount() {
                  timeH.innerHTML = "Vaqt tugadi";
                  myModal.show();
                }
                function setCookie(cname, cvalue, exdays) {
                  const d = new Date();
                  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                  let expires = "expires="+d.toUTCString();
                  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
                }

                function getCookie(cname) {
                  let name = cname + "=";
                  let ca = document.cookie.split(';');
                  for(let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                      return c.substring(name.length, c.length);
                    }
                  }
                  return "";
                }
                function checkJavoblar() {
                    if(getCookie("javoblar")){
                         $scope.javoblar = JSON.parse(getCookie("javoblar"));
                    }
                    if($scope.javoblar.filter(word => word.bilet == $scope.bilet).length==10)
                    {
                        setCookie("javoblar", JSON.stringify($scope.javoblar.filter(word => word.bilet != $scope.bilet)), 365);
                        $scope.javoblar = JSON.parse(getCookie("javoblar"));
                    }
                    else
                    {
                        if($scope.javoblar.filter(word => word.bilet == $scope.bilet).length!=0)
                        {
<!--                            $scope.isPaused = true;-->
<!--                            $scope.timeout = true;-->
<!--                            myModal.show();-->
                        }
                    }
                    $scope.javoblar.filter(word => word.bilet == $scope.bilet).forEach((element) =>{
                        if(element.time<$scope.time)
                        {
                            $scope.time=element.time;
                        }
                    });
                    startTimer($scope.time);

                }
              $scope.b=function(value){
                    myFunction(value);
              }
              function myFunction(value) {
                    $scope.savol_raqami=value;
                    $scope.savol=$scope.data[value-1];
                    $scope.id=$scope.savol.id;
                    $scope.mValue=$scope.savol.berilgan_javob+$scope.id;
                    document.getElementById('click').play();
                    var element = document.getElementsByClassName('page-item');
                        for(var i = 0; i < element.length; i++)
                        {
                            element[i].classList.remove('active');
                        }
                    document.getElementById('savol'+value).classList.add('active');
                }
                function setJavob(javob)
                {
                    var obj = {
                      id: $scope.savol.id,
                      bilet: $scope.bilet,
                      time: $scope.time,
                      javob:javob,
                    };

                    if(!$scope.javoblar.find(element => element.id == obj.id))
                    {
                        $scope.javoblar.push(obj);
                        setCookie("javoblar", JSON.stringify($scope.javoblar), 365);
                    }

                    $scope.mValue=javob+$scope.id;
                    if(javob===$scope.savol.javob){
                        $scope.togri_javob_soni=$scope.togri_javob_soni+1;
                        document.getElementById('right').play();
                        document.getElementById(javob+$scope.id).classList.add('list-group-item-success');
                        document.getElementById('ab'+$scope.savol_raqami).classList.add('bg-success');
                        alertify.success("To`g`ri javob");
                    }
                    else{
                        $scope.notogri_javob_soni=$scope.notogri_javob_soni+1;
                        document.getElementById('wrong').play();
                        document.getElementById(javob+$scope.id).classList.add('list-group-item-danger');
                        document.getElementById('ab'+$scope.savol_raqami).classList.add('bg-danger');
                        alertify.error("Noto`g`ri javob");
                    }
                    document.getElementById('A'+$scope.id).classList.add('disabledDiv');
                    document.getElementById('B'+$scope.id).classList.add('disabledDiv');
                    document.getElementById('C'+$scope.id).classList.add('disabledDiv');
                    document.getElementById('D'+$scope.id).classList.add('disabledDiv');
                    if($scope.javoblar.filter(word => word.bilet == $scope.bilet).length==10)
                    {
                        $scope.isPaused = true;
                        $scope.timeout = false;
                        myModal.show();
                    }
                }
            $scope.ok=function(javob){
                setJavob(javob);
                //setTimeout(myFunction, 3000, $scope.savol_raqami+1);
            }

          function LoadData(){
              document.getElementById('conn').style.visibility = "visible";
              $('#hh').modal({
                       backdrop: 'static',
                       keyboard: false
                })
                  $http({
                      method: 'GET',
                      url: "/GetSavol?bilet="+$scope.bilet,
                      dataType: "json"
                  }).then(function (d) {
                          d.data.forEach((item) => {
                            berilgan_javob='';
                            if($scope.javoblar.find(element => element.id == item.id))
                            {
                                berilgan_javob=$scope.javoblar.find(element => element.id == item.id).javob;
                            }
                            var obj = {
                              id: item.id,
                              bilet: item.bilet,
                              javob:item.javob,
                              javob_a:item.javob_a,
                              javob_b:item.javob_b,
                              javob_c:item.javob_c,
                              javob_d:item.javob_d,
                              raqam:item.raqam,
                              rasm:item.rasm,
                              savol:item.savol,
                              berilgan_javob:berilgan_javob,
                            };
                            $scope.data.push(obj);
                          });
                          let raqam=0;
                          $scope.data=$scope.data.sort(function(a, b){return a.raqam-b.raqam});
                          $scope.data.forEach((element) =>
                          {
                              if(element.raqam>raqam&&raqam==element.raqam-1&&element.berilgan_javob!='')
                              {
                                  raqam=element.raqam;
                              }
                              if(element.berilgan_javob){
                                if(element.javob==element.berilgan_javob){
                                    $scope.togri_javob_soni=$scope.togri_javob_soni+1;
                                    document.getElementById('ab'+element.raqam).classList.add('bg-success');
                                }
                                else{
                                    $scope.notogri_javob_soni=$scope.notogri_javob_soni+1;
                                    document.getElementById('ab'+element.raqam).classList.add('bg-danger');
                                }
                              }
                          });
                          $scope.savol=$scope.data[raqam];
                          $scope.id=$scope.savol.id;
                          $scope.savol_raqami=raqam+1;
                          document.getElementById('savol'+$scope.savol_raqami).classList.add('active');


                  $("#hh").modal('hide');
                  document.getElementById('conn').style.visibility = "hidden";
              }, function (error) {
                    $("#hh").modal('hide');
                    document.getElementById('conn').style.visibility = "hidden";
                  console.log("error in GetSavol -> ", error);
                  alertify.error("Xatolik yuz berdi");
              });
          }
          }]);
</script>
</body>
</html>