<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
    <meta name="zen-verification" content="7l9bCOKi66HKyY4ilLYmulKUQTlrZLJrS3HSjTiMhq0GoD4ap8COxE7Bjw1oYf26" />
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" sizes="16x16" href="http://complexprogrammer.uz/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
    <script src="https://kit.fontawesome.com/f7eccd980a.js" crossorigin="anonymous"></script>
    <title>C0mplex</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
 crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DHWL20H58');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
    authDomain: "c0mplex.firebaseapp.com",
    projectId: "c0mplex",
    storageBucket: "c0mplex.appspot.com",
    messagingSenderId: "755681568857",
    appId: "1:755681568857:web:102b1b733df55baefe2948",
    measurementId: "G-95WQGY7X9E"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
    <script src="http://complexprogrammer.uz/static/jquery-3.4.1.min.js"></script>
    <script src="http://complexprogrammer.uz/static/angular.min.js"></script>
    <script src="/static/login/auth.js"></script>
    <script src="/static/base.js"></script>
    <meta name="google-site-verification" content="jl3apNi8FhHmCceWlm-SO80kOwqIq_Pv-CwaabrEEvU" />
<style>
        body,html{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}

		.chat{
			margin-top: auto;
			margin-bottom: auto;
		}
		.card{
			height: 500px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y:auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
        .card-footer{
            border-radius: 0 0 15px 15px !important;
            border-top: 0 !important;
        }
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;

		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;

		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	.action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	@media(max-width: 576px){
        .contacts_card{
            margin-bottom: 15px !important;
        }
	}


	.open-button {
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  opacity: 0.8;
	  position: fixed;
	  bottom: 23px;
	  right: 28px;
	}
	.chat-popup {
      display: none;
      position: fixed;
      bottom: 25px;
      right: 15px;
      z-index: 9;
    }
</style>
</head>

<body ng-app="App" ng-controller="Base">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW763C2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% raw %}
    <!--start chat-->
    <button class="open-button" id="openChatBtn" ng-click="openForm()"><img style="width:30px" src="/static/img/chat.png"/></button>
    <div id="myForm" class="container chat-popup" style="min-height:0vh;">
        <div class="row">
                <div class="col"></div>
				<div class="col-md-8 col-xl-6 chat" id="contactsArea">
					<div class="card mb-sm-3 mb-md-0 contacts_card">
                        <div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img  ng-show="user.photo_url" src="{{user.photo_url}}" class="rounded-circle user_img">
									<span ng-show="user.active" class="online_icon"></span>
									<span ng-show="!user.active" class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span ng-show="login!='Login'">{{login}}</span>
									<p>1767 Messages</p>
								</div>
<!--								<div class="video_cam">-->
<!--									<span><i class="fas fa-video"></i></span>-->
<!--									<span><i class="fas fa-phone"></i></span>-->
<!--								</div>-->
							</div>
							<span class="action_menu_btn" ng-click="closeForm()"><i class="fas fa-window-close"></i></span>
						</div>
						<div class="card-header">
							<div class="input-group">
								<input type="text" placeholder="Search..." name="" class="form-control search" style="padding: 2.375rem 0.75rem">
								<div class="input-group-prepend">
									<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
								</div>
							</div>
						</div>
						<div class="card-body contacts_body">
							<ul class="contacts">
                                <li ng-repeat="item in MyContacts" id="contact{{$index}}">
                                    <div class="d-flex bd-highlight" ng-click="loadMessageByContactId(item.id, $index, MyContacts.length)">
                                        <div class="img_cont">
                                            <img ng-show="item.photo_url" src="{{item.photo_url}}" class="rounded-circle user_img">
                                            <span ng-show="item.active" class="online_icon"></span>
                                            <span ng-show="!item.active" class="online_icon offline"></span>
                                        </div>
                                        <div class="user_info">
                                            <span ng-show="item.name">{{item.name}}</span>
                                            <span ng-show="item.name==null&&item.email">{{item.email}}</span>
                                            <span ng-show="item.name==null&&item.email==null&&item.phone">{{item.phone}}</span>
                                            <p>{{item.login_date}}</p>
                                        </div>
                                    </div>
                                </li>
							</ul>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
				<div class="col-md-8 col-xl-6 chat" id="messageTextArea" style="display:none">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img  ng-show="selectedUser.photo_url" src="{{selectedUser.photo_url}}" class="rounded-circle user_img">
									<span ng-show="selectedUser.active" class="online_icon"></span>
									<span ng-show="!selectedUser.active" class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span ng-show="selectedUser.name">{{selectedUser.name}}</span>
									<span ng-show="selectedUser.name==null&&selectedUser.email">{{selectedUser.email}}</span>
									<span ng-show="selectedUser.name==null&&selectedUser.email==null&&selectedUser.phone">{{selectedUser.phone}}</span>
									<p>1767 Messages</p>
								</div>
<!--								<div class="video_cam">-->
<!--									<span><i class="fas fa-video"></i></span>-->
<!--									<span><i class="fas fa-phone"></i></span>-->
<!--								</div>-->
							</div>
							<span ng-click="closeMessageArea()" class="action_menu_btn"><i class="fas fa-arrow-left"></i></span>
						</div>
						<div class="card-body msg_card_body"  id="scroll-to-bottom">
                            <div ng-repeat="item in Messages">
                                <div ng-show="user.id!=item.sender_id" class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img ng-show="selectedUser.photo_url" src="{{selectedUser.photo_url}}" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									{{item.text}}
									<span class="msg_time">8:40 AM, Today</span>
								</div>
							</div>
							    <div ng-show="user.id==item.sender_id" class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									{{item.text}}
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
								<div class="img_cont_msg">
							        <img  ng-show="user.photo_url" src="{{user.photo_url}}" class="rounded-circle user_img_msg">
								</div>
							</div>
                            </div>
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea name="" ng-model="text" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append" ng-click="sendMessage()">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
    <!--end chat-->
  <!-- Header -->
  <section id="header">
    <div class="header container" style="max-width: 100%;">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>C</span>omplex <span>P</span>rogrammer</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
            <ul>
                <li><a href="#hero" data-after="Home">Home</a></li>
                <li><a href="#services" data-after="Service">Services</a></li>
                <li><a href="#projects" data-after="Projects">Projects</a></li>
                <li><a href="#about" data-after="About">About</a></li>
                <li><a href="#contact" data-after="Contact">Contact</a></li>
                <li><a href="/login"><img ng-show="user.photo_url" src="{{user.photo_url}}" style="width:30px;padding-top:-100px"/> {{login}}</a></li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Odiljon Gaybullaev <span></span></h1>
        <a href="#projects" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-an-4i-cp+a2+21k"
     data-ad-client="ca-pub-7773722896374259"
     data-ad-slot="4679993061"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--AdFox START-->
<!--yandex_complex.programmer-->
<!--Площадка: complexprogrammer / * / *-->
<!--Тип баннера: 100%x100% Turbo-->
<!--Расположение: верх страницы-->
<div id="adfox_166478450983844109"></div>
<script>
    window.yaContextCb.push(()=>{
        Ya.adfoxCode.create({
            ownerId: 709538,
            containerId: 'adfox_166478450983844109',
            params: {
                pp: 'g',
                ps: 'gaio',
                p2: 'hukd'
            }
        })
    })
</script>
<!-- Yandex.RTB R-A-1963742-5 -->
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    type: 'fullscreen',
    blockId: 'R-A-1963742-5'
  })
})</script>
<script async src="https://ad.mail.ru/static/ads-async.js"></script>
<ins class="mrg-tag" data-ad-client="ad-1128075" data-ad-slot="1128075"></ins>
<script>(MRGtag = window.MRGtag || []).push({})</script>
  <!-- Service Section -->
  <section id="services">
    <div class="services container">
        <!-- Yandex.RTB R-A-1963742-4 -->
        <div id="yandex_rtb_R-A-1963742-4"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1963742-4',
            blockId: 'R-A-1963742-4'
          })
        })</script>
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>ces</h1>
              <!-- Yandex.RTB R-A-1963742-1 -->
            <div id="yandex_rtb_R-A-1963742-1"></div>
            <script>window.yaContextCb.push(()=>{
              Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1963742-1',
                blockId: 'R-A-1963742-1'
              })
            })</script>
      </div>
      <div class="service-bottom">
        <div class="service-item" style="background-image: url(static/img/cartoonize.jpg);">
          <div class="icon"><img src="static/img/cartoonize.jpg" /></div>
          <h2>Cartoonize</h2>
            <p>Original image to cartoon image converter</p>
          <div class="C0mplexButton Success">
              <a href="/cartoonize">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(static/img/instagram.jpg);">
          <div class="icon"><img src="static/img/instagram.jpg" /></div>
          <h2>Instagram Downloader</h2>
            <p>instagram downloader converter</p>
          <div class="C0mplexButton Success">
              <a href="/instagram_downloader">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(static/img/youtube.png);">
          <div class="icon"><img src="static/img/youtube.png" /></div>
          <h2>Youtube Downloader</h2>
            <p>youtube downloader converter</p>
          <div class="C0mplexButton Success">
              <a href="/youtube_downloader">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(https://static-ssl.minerstat.farm/96/eth.png);">
          <div class="icon"><img src="https://static-ssl.minerstat.farm/96/btc.png" /></div>
          <h2>Coins</h2>
            <p>cryptocurrencies</p>
          <div class="C0mplexButton Success">
              <a href="/coins">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(/static/img/translate.jpg);">
          <div class="icon"><img src="/static/img/translate.jpg" /></div>
          <h2>Translate</h2>
            <p>Tarjima qilish</p>
          <div class="C0mplexButton Success">
              <a href="/translate">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(http://complexprogrammer.uz/static/img/imagecompare.png);">
          <div class="icon"><img src="http://complexprogrammer.uz/static/img/imagecompare.png" /></div>
          <h2>Rasmlarni solishtirish</h2>
            <p>Rasmlarni bir-biridan farqlang</p>
          <div class="C0mplexButton Success">
              <a href="/imagecompare">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(http://complexprogrammer.uz/static/img/avtotest.png);">
          <div class="icon"><img src="http://complexprogrammer.uz/static/img/avtotest.png" /></div>
          <h2>Avto Test</h2>
            <p>1000 dan ortiq testlar yordamida yo'l harakati qoidalaridan ilm va ko'nikmangizni oshiring</p>
          <div class="C0mplexButton Success">
              <a href="/avtotest">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(http://complexprogrammer.uz/static/img/exchangerates.png)">
          <div class="icon"><img src="http://complexprogrammer.uz/static/img/exchangerates.png" /></div>
          <h2>O'zbekistondagi valyuta kurslari</h2>
            <p>O'zbekiston Respublikasi Markaziy bankining valyuta kurslari</p>
          <div class="C0mplexButton Success">
              <a href="/exchangerates">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(http://complexprogrammer.uz/static/img/changetext.jpg)">
          <div class="icon"><img src="http://complexprogrammer.uz/static/img/changetext.jpg" /></div>
          <h2>Alifboni Almashtirish (Lotin Kirill)</h2>
          <p>Koʼpincha bizda kirill yoki lotin alifbosidagi matnlarni kirilldan-lotinga, lotindan-kirillga oʼgirishga ehtiyoj boʼladi.Ushbu dastur sizga yordam beradi.</p>
           <div class="C0mplexButton Success">
              <a href="/changetext">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
        <div class="service-item" style="background-image: url(http://complexprogrammer.uz/static/img/ipfinder.png)">
          <div class="icon"><img src="http://complexprogrammer.uz/static/img/ipfinder.png" /></div>
          <h2>IP finder</h2>
          <p>IP address finder</p>
           <div class="C0mplexButton Success">
              <a href="/ip">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
          <!-- Yandex Native Ads C-A-1963742-2 -->
            <div id="id-C-A-1963742-2"></div>
            <script>window.yaContextCb.push(()=>{
              Ya.Context.AdvManager.renderWidget({
                renderTo: 'id-C-A-1963742-2',
                blockId: 'C-A-1963742-2'
              })
            })</script>
          <!-- Yandex.RTB R-A-1963742-3 -->
            <div id="yandex_rtb_R-A-1963742-3"></div>
            <script>window.yaContextCb.push(()=>{
              Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1963742-3',
                blockId: 'R-A-1963742-3'
              })
            })</script>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Cartonize</h2>
            <p>Original image to cartoon image converter</p>
<!--            <a href="https://play.google.com/store/apps/details?id=translate.complexprogrammer.uz" target="_blank">-->
<!--               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />-->
<!--             </a>-->
            <div class="C0mplexButton Success">
              <a href="/cartoonize">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="/static/sample_images/twitter_image.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>
              Instagram Downloader
            </h2>
            <p></p>
<!--            <a href="https://play.google.com/store/apps/details?id=imagecompare.complexprogrammer.uz" target="_blank">-->
<!--              <img src="http://complexprogrammer.uz/static/img/google-play.svg" />-->
<!--            </a>-->
             <div class="C0mplexButton Success">
                  <a href="/instagram_downloader">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      &#9758;
                      Foydalanish
                  </a>
              </div>
          </div>
          <div class="project-img">
            <img src="static/img/instagram.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Youtube Downloader</h2>
            <p>youtube downloader converter</p>
<!--            <a href="https://play.google.com/store/apps/details?id=translate.complexprogrammer.uz" target="_blank">-->
<!--               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />-->
<!--             </a>-->
            <div class="C0mplexButton Success">
              <a href="/youtube_downloader">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="/static/img/youtube.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>
              Coins
            </h2>
            <p></p>
<!--            <a href="https://play.google.com/store/apps/details?id=imagecompare.complexprogrammer.uz" target="_blank">-->
<!--              <img src="http://complexprogrammer.uz/static/img/google-play.svg" />-->
<!--            </a>-->
             <div class="C0mplexButton Success">
                  <a href="/coins">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      &#9758;
                      Foydalanish
                  </a>
              </div>
          </div>
          <div class="project-img">
            <img src="https://static-ssl.minerstat.farm/96/btc.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>TRANSLATE</h2>
            <p>Tarjima qilish</p>
<!--            <a href="https://play.google.com/store/apps/details?id=translate.complexprogrammer.uz" target="_blank">-->
<!--               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />-->
<!--             </a>-->
            <div class="C0mplexButton Success">
              <a href="/translate">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/translate.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web and Mobile Project</h1>
            <h2>
              Rasmlarni solishtirish
            </h2>
            <p></p>
            <a href="https://play.google.com/store/apps/details?id=imagecompare.complexprogrammer.uz" target="_blank">
              <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
            </a>
             <div class="C0mplexButton Success">
                  <a href="/imagecompare">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      &#9758;
                      Foydalanish
                  </a>
              </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/imagecompare.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web and Mobile Project</h1>
            <h2>Avto Test</h2>
            <p>1000 dan ortiq testlar yordamida yo'l harakati qoidalaridan ilm va ko'nikmangizni oshiring</p>
            <a href="https://play.google.com/store/apps/details?id=avtotest.complexprogrammer.uz" target="_blank">
               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
             </a>
            <div class="C0mplexButton Success">
              <a href="/avtotest">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/avtotest.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web and Mobile Project</h1>
            <h2>
              Alifboni Almashtirish (Lotin Kirill) - mobil ilovasi
            </h2>
            <p>Koʼpincha bizda kirill yoki lotin alifbosidagi matnlarni kirilldan-lotinga yoki lotindan-kirillga oʼgirishga ehtiyoj tugʼuladi. Ushbu lotin kiril translit dasturi oʼzbek tilidagi har qanday matnlarni hech qanday muammosiz hal qilishingizda sizga yordam beradi.</p>
            <a href="https://play.google.com/store/apps/details?id=changetext.complexprogrammer.uz" target="_blank">
                  <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
              </a>
             <div class="C0mplexButton Success">
                  <a href="/changetext">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      &#9758;
                      Foydalanish
                  </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/changetext.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web and Mobile Project</h1>
            <h2>O'zbekistondagi valyuta kurslari - mobil ilovasi</h2>
            <p>Exchange rates of the Central Bank of the Republic of Uzbekistan</p>
            <a href="https://play.google.com/store/apps/details?id=exchangerates.complexprogrammer.uz" target="_blank">
               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
             </a>
            <div class="C0mplexButton Success">
              <a href="/exchangerates">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/exchangerates.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web and Mobile Project</h1>
            <h2>IP orqali qidiruv - mobil ilovasi</h2>
            <p>IP address finder</p>
            <a href="https://play.google.com/store/apps/details?id=ip.complexprogrammer.uz" target="_blank">
               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
             </a>
            <div class="C0mplexButton Success">
              <a href="/ip">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>

          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/ipfinder.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Mobile Project</h1>
            <h2>O'zbekistonda uchayotgan qush - mobil o'yini</h2>
            <p>Flying Bird in Uzbekistan The flying bird must survive</p>
             <a href="https://play.google.com/store/apps/details?id=flyingbird.complexprogrammer.uz" target="_blank">
               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
             </a>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/flyingbird.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Mobile Project</h1>
            <h2>Sudoku - mobil o'yini</h2>
            <p>Complex sudoku by Complex Programmer </p>
            <a href="https://play.google.com/store/apps/details?id=sudoku.complexprogrammer.uz" target="_blank">
               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
             </a>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/img/sudoku.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Snake (new version) - online game</h2>
            <p>New version</p>
            <div class="C0mplexButton Success">
              <a href="/snake" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/snake/img/game_over.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Snake (old version) - online game</h2>
            <p>Old version </p>
            <div class="C0mplexButton Success">
              <a href="/snake2" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/snake/img/game_over.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web and Mobile Project</h1>
            <h2>car - online game</h2>
            <p>car</p>
            <a href="https://play.google.com/store/apps/details?id=car.complexprogrammer.uz" target="_blank">
               <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
             </a>
            <div class="C0mplexButton Success">
              <a href="/car" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/car/images/car_bg.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Duck hunt - online game</h2>
            <p>Duck hunt</p>
            <div class="C0mplexButton Success">
              <a href="/duckhunt" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/duckhunt/images/hunter.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Motorcycle - online game</h2>
            <p>Motorcycle</p>
            <div class="C0mplexButton Success">
              <a href="/motorcycle" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/motorcycle/images/moto.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Bubble Shooter - online game</h2>
            <p>Bubble Shooter</p>
            <div class="C0mplexButton Success">
              <a href="/bubbleshooter" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/bubbleshooter/screenshot.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Ping Pong - online game</h2>
            <p>Ping Pong</p>
            <div class="C0mplexButton Success">
              <a href="/pingpong" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/pingpong/pingpong.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Tic Tac Toe - online game</h2>
            <p>Tic Tac Toe</p>
            <div class="C0mplexButton Success">
              <a href="/tictactoe" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/tictactoe/tictactoe.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Web Project</h1>
            <h2>Tetris - online game</h2>
            <p>Tetris</p>
            <div class="C0mplexButton Success">
              <a href="/tetris" target="_blank">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  &#9758;
                  Foydalanish
              </a>
            </div>
          </div>
          <div class="project-img">
            <img src="http://complexprogrammer.uz/static/games/tetris/bg.jpg" alt="img">
          </div>
        </div>
      </div>
        <!-- Yandex.RTB R-A-1963742-6 -->
        <div id="yandex_rtb_R-A-1963742-6"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1963742-6',
            blockId: 'R-A-1963742-6'
          })
        })</script>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="http://complexprogrammer.uz/static/img/icon_512.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Web and Mobile Programmer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, velit alias eius non illum beatae atque
          repellat ratione qui veritatis repudiandae adipisci maiores. At inventore necessitatibus deserunt
          exercitationem cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni!
          Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, deserunt
          reprehenderit libero enim!</p>
        <a href="#" class="cta">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+998 88 034 08 01</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>complexprogrammer@mail.ru</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>anonymous</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>C</span>omplex <span>P</span>rogrammer</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022 C0mplex. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="http://complexprogrammer.uz/static/app.js"></script>
{% endraw %}
</body>

</html>