<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
 crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DHWL20H58');
</script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
    authDomain: "c0mplex.firebaseapp.com",
    projectId: "c0mplex",
    storageBucket: "c0mplex.appspot.com",
    messagingSenderId: "755681568857",
    appId: "1:755681568857:web:102b1b733df55baefe2948",
    measurementId: "G-95WQGY7X9E"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="icon" sizes="16x16" href="http://complexprogrammer.uz/static/img/favicon.ico">
<link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
<link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.default.css">
<link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.core.css">
<script src="http://complexprogrammer.uz/static/alertify/alertify.min.js"></script>
<script src="http://complexprogrammer.uz/static/jquery-3.4.1.min.js"></script>
<script src="http://complexprogrammer.uz/static/angular.min.js"></script>
<title>Change text</title>
<style>
  body {
  background-color: #212121;
  color: white
  }
</style>
<script>
    var app = angular.module("App", []);
    app.controller("Data", ["$scope", "$http", "$filter", function ($scope, $http, $filter) {
        $scope.TextLength = 0;
        $scope.ChangeText = function (text) {
            $http({
                method: 'POST',
                url: "/ChangeTextData?text=" + text,
                dataType: "json"
            }).then(function (d) {
                $scope.new_text = d.data;
                $scope.TextLength = d.data.length;
            }, function (error) {
                console.log("error in GetSearchData -> ", error);
                alertify.error("Xatolik yuz berdi");
            });
        }
        var old_text = document.getElementById('old_text');
        old_text.focus();
        document.getElementById("new_text").disabled = true;
        $scope.CopyText= function() {
                document.getElementById("new_text").disabled = false;
                /* Get the text field */
                var copyText = document.getElementById("new_text");

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alertify.success("Copied");
                document.getElementById("new_text").disabled = true;
            }
                document.getElementById('old_text').focus();

        }]);


</script>
<script async src="https://ad.mail.ru/static/ads-async.js"></script>
<ins class="mrg-tag" data-ad-client="ad-1128075" data-ad-slot="1128075"></ins>
<script>(MRGtag = window.MRGtag || []).push({})</script>
    <!-- Yandex.RTB R-A-1963742-1 -->
<div id="yandex_rtb_R-A-1963742-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-1',
    blockId: 'R-A-1963742-1'
  })
})</script>
<marquee>
    <h2 style="color:green;">The service determines the Latin or Cyrillic text.</h2>
</marquee>
<div class="C0mplexButton float-end">
    <a href="/#services">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        X
    </a>
</div>
<div ng-app="App" ng-controller="Data" class="container">
    <h2>Lotin Kirill
        <a href="https://play.google.com/store/apps/details?id=changetext.complexprogrammer.uz" target="_blank">
            <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
        </a>
    </h2>
    {% raw %}
    <h6 ng-show="TextLength==0" style="text-align:center">
        Enter the text
    </h6>
    <h6 ng-show="TextLength!=0" style="text-align:center">
        The number of characters in the text {{TextLength}}
    </h6>
    {% endraw %}
    <form method="post" action="/ChangeTextData" id="form">
        <textarea class="form-control" ng-model="old_text" ng-change="ChangeText(old_text)" rows="10" cols="50"  name="old_text" id="old_text" placeholder="EnterText"></textarea>
        <textarea ng-model="new_text" class="form-control" name="new_text" id="new_text" rows="10" cols="50" placeholder="Result" disabled>{{new_text}}</textarea>
        <div class="C0mplexButton Success">
            <a href="#" style="width:100%;text-align:center" ng-click="CopyText()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fa fa-copy"></i>
                Copy
            </a>
        </div>
        <p style="margin:15px">
            Koʼpincha bizda kirill yoki lotin alifbosidagi matnlarni kirilldan-lotinga, lotindan-kirillga oʼgirishga ehtiyoj boʼladi.Ushbu kiril lotin, lotin kiril onlayn translit dasturi oʼzbek tilidagi har qanday matnlarni hech qanday muammosiz hal qilishingizda sizga yordam beradi.Bu dasturning afzalligi shundaki, simvollar soni cheklanmangan, hamda qaysi tilga oʼgirishni dasturni oʼzi aniqlaydi. Butun bir maqolani yoki matnni birinchi boʼsh katakka qoʼysangiz, bir necha soniyadan soʼng tayyor natijani qoʼlga kiritasiz. Hozircha sinov tartibida ishlayotganligi sababli, natijani tekshirib oling.
        </p>
        <p style="margin:15px">
            Кўпинча бизда кирилл ёки лотин алифбосидаги матнларни кириллдан-лотинга, лотиндан-кириллга ўгиришга еҳтиёж бўлади.Ушбу кирил лотин, лотин кирил онлайн транслит дастури ўзбек тилидаги ҳар қандай матнларни ҳеч қандай муаммосиз ҳал қилишингизда сизга ёрдам беради.Бу дастурнинг афзаллиги шундаки, символлар сони чекланманган, ҳамда қайси тилга ўгиришни дастурни ўзи аниқлайди. Бутун бир мақолани ёки матнни биринчи бўш катакка қўйсангиз, бир неча сониядан сўнг тайёр натижани қўлга киритасиз. Ҳозирча синов тартибида ишлаётганлиги сабабли, натижани текшириб олинг.
        </p>
    </form>
    <!-- Yandex.RTB R-A-1963742-3 -->
    <div id="yandex_rtb_R-A-1963742-3"></div>
    <script>window.yaContextCb.push(()=>{
      Ya.Context.AdvManager.render({
        renderTo: 'yandex_rtb_R-A-1963742-3',
        blockId: 'R-A-1963742-3'
      })
    })</script>
</div>
<!-- Yandex.RTB R-A-1963742-4 -->
<div id="yandex_rtb_R-A-1963742-4"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-4',
    blockId: 'R-A-1963742-4'
  })
})</script>