<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.1/css/bootstrap.min.css" integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://complexprogrammer.uz/static/jquery-3.4.1.min.js"></script>
<script src="http://complexprogrammer.uz/static/angular.min.js"></script>
<script src="/static/login/auth.js"></script>
<script src="/static/base.js"></script>
<style>
body {
  background-color: #3498db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray .no-gutters {
  padding: 0;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  transition: 0.3s;
}
.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}
.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}
.selected_user{
	background: #74b9ff;
	color:white;
}
hr {
  margin: 5px auto;
  width: 60%;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}
.chat-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}
.chat-bubble--left:after {
  left: 0;
  border-right-color: #eee;
  border-left: 0;
  margin-left: -20px;
}
.chat-bubble--right:after {
  right: 0;
  border-left-color: #74b9ff;
  border-right: 0;
  margin-right: -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.offset-md-9 .chat-bubble {
  background: #74b9ff;
  color: #fff;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}
.chat-box-tray i:last-of-type {
  margin-left: 25px;
}
</style>
<style>
	.open-button {
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  opacity: 0.8;
	  position: fixed;
	  bottom: 23px;
	  right: 28px;
	}
	.chat-popup {
	  display: none;
	  position: fixed;
	  bottom: 0;
	  right: 15px;
	  border: 3px solid #f1f1f1;
	  z-index: 9;
	}
	.pointer{
		cursor:pointer
	}
</style>
<div ng-app="App" ng-controller="Base">
	{% raw %}
		<button class="open-button" id="openChatBtn" ng-click="openForm()"><img style="width:30px" src="/static/img/chat.png"/></button>
		<div id="myForm" class="container chat-popup" style="display:none">
			<div class="row no-gutters">
			  <div class="col-md-4">
				<div class="settings-tray">
				  	<img class="profile-image" ng-show="photo_url" src="{{photo_url}}" alt="Profile img">
					<label>&#128994;</label>
					<label ng-show="name">{{name}}</label>
					<label ng-show="name==null&&email">{{email}}</label>
					<label ng-show="name==null&&email==null&&phone">{{phone}}</label>
<!--					<span class="settings-tray&#45;&#45;right">-->
<!--						<i class="material-icons">cached</i>-->
<!--						<i class="material-icons">message</i>-->
<!--						<i class="material-icons">menu</i>-->
<!--					</span>-->
				</div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link" id="contact-tab" ng-click="loadContacts()" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contacts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" id="chat-tab" ng-click="loadChats()" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="true">Chats</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="search-box">
							<div class="input-wrapper">
								<i class="material-icons">search</i>
								<input placeholder="Search here" type="text">
							</div>
						</div>
						<div style="overflow:auto;height:500px;">
							<div ng-repeat="item in MyContacts">
								<div class="friend-drawer friend-drawer--onhover" id="contact{{$index}}" ng-click="loadMessageByContactId(item.id, $index, MyContacts.length)">
								  <img class="profile-image" ng-show="item.photo_url" src="{{item.photo_url}}" alt="">
								  <div class="text">
									<h6 ng-show="item.name">{{item.name}}</h6>
									<h6 ng-show="item.name==null&&item.email">{{item.email}}</h6>
									<h6 ng-show="item.name==null&&item.email==null&&item.phone">{{item.phone}}</h6>
									<p class="text-muted" ng-show="item.active">&#128994;</p>
									<p class="text-muted" ng-show="!item.active">&#128308;</p>
								  </div>
								  <span class="time text-muted small" ng-show="item.active">{{item.login_date}}</span>
								  <span class="time text-muted small" ng-show="!item.active">{{item.logout_date}}</span>
								</div>
								<hr>
							</div>
						</div>
					</div>
				  	<div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
						<div class="search-box">
							<div class="input-wrapper">
								<i class="material-icons">search</i>
								<input placeholder="Search here" type="text">
							</div>
						</div>
						<div style="overflow:auto;height:500px;">
							<div ng-repeat="item in ChatUserRelations">
								<div class="friend-drawer friend-drawer--onhover" id="user{{$index}}" ng-click="loadMessageByChatId(item.user.id, item.chat_id, $index, ChatUserRelations.length)">
								  <img class="profile-image" ng-show="item.user.photo_url" src="{{item.user.photo_url}}" alt="">
								  <div class="text">
									<h6 ng-show="item.user.name">{{item.user.name}}</h6>
									<h6 ng-show="item.user.name==null&&item.user.email">{{item.user.email}}</h6>
									<h6 ng-show="item.user.name==null&&item.user.email==null&&item.user.phone">{{item.user.phone}}</h6>
									<p class="text-muted" ng-show="item.user.active">&#128994;</p>
									<p class="text-muted" ng-show="!item.user.active">&#128308;</p>

								  </div>
								  <span class="time text-muted small" ng-show="item.user.active">{{item.user.login_date}}</span>
								  <span class="time text-muted small" ng-show="!item.user.active">{{item.user.logout_date}}</span>
								</div>
								<hr>
							</div>
						</div>
					</div>
				</div>


			  </div>
			  <div class="col-md-8" id="messageTextArea">
				<div class="settings-tray">
					<div class="friend-drawer no-gutters friend-drawer--grey">
					<img class="profile-image"  ng-show="selectedUser.photo_url" src="{{selectedUser.photo_url}}" alt="">
					<div class="text">
						<h6 ng-show="selectedUser.name">{{selectedUser.name}}</h6>
						<h6 ng-show="selectedUser.name==null&&selectedUser.email">{{selectedUser.email}}</h6>
						<h6 ng-show="selectedUser.name==null&&selectedUser.email==null&&selectedUser.phone">{{selectedUser.phone}}</h6>
					  	<p class="text-muted" ng-show="selectedUser.active">&#128994;</p>
						<p class="text-muted" ng-show="!selectedUser.active">&#128308;</p>
					</div>
					<span class="settings-tray--right" style="margin-left:150px">
					  <i class="material-icons" onclick="closeForm()">close</i>
					</span>

				  </div>
				</div>
				<div class="chat-panel">
					<div style="overflow: auto;height:473px">
						<div ng-repeat="item in Messages">
							<div ng-show="user_id!=item.sender_id" class="row no-gutters">
								<div class="col-md-3">
								  <div class="chat-bubble chat-bubble--left">
									{{item.text}}
								  </div>
								</div>
							</div>
							<div ng-show="user_id==item.sender_id" class="row no-gutters">
								<div class="col-md-3 offset-md-9">
								  <div class="chat-bubble chat-bubble--right">
									{{item.text}}
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="col-12">
					  <div class="chat-box-tray">
<!--						<i class="material-icons">sentiment_very_satisfied</i>-->
						<input type="text" ng-model="text" placeholder="Type your message here...">
<!--						<i class="material-icons">mic</i>-->
						<i class="material-icons friend-drawer--onhover" ng-click="sendMessage()">send</i>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	{% endraw %}
<script>
    function openForm() {

        document.getElementById("myForm").style.display = "block";
        document.getElementById("openChatBtn").style.display = "none";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("openChatBtn").style.display = "block";
    }
	$(".friend-drawer--onhover").on("click", function () {
	  $(".chat-bubble").hide("slow").show("slow");
	});
</script>
</div>

