<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
<link rel="icon" sizes="16x16" href="/static/games/duckhunt/images/hunter.png">
 <title>Duck Hunt</title>
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
 crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DHWL20H58');
</script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
    authDomain: "c0mplex.firebaseapp.com",
    projectId: "c0mplex",
    storageBucket: "c0mplex.appspot.com",
    messagingSenderId: "755681568857",
    appId: "1:755681568857:web:102b1b733df55baefe2948",
    measurementId: "G-95WQGY7X9E"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
<link href="/static/Games/DuckHunt/css/Style.css" rel="stylesheet" />
 <link rel="stylesheet" href="/static/C0mplexButtonStyle.css">
<span style="position:absolute;visibility:hidden">
    <audio id="shoot_sound" controls="controls">
        <source src="/static/Games/DuckHunt/Sounds/shoot.mp3" type="audio/mpeg" />
    </audio>
</span>
<br />
<body class="bodyClass" style="overflow:hidden" onclick="document.getElementById('shoot_sound').play();">
    <a href="/" style="text-decoration:none;background-color:red;position:fixed;z-index:1">Go Back</a>
    <br />
    <br />
    <a href="/DuckHunt" style="text-decoration:none;background-color:green;position:fixed;z-index:1">Refresh</a>
    <input type="checkbox" class="shoot_check" id="duck1" />
    <label for="duck1" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck2" />
    <label for="duck2" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck3" />
    <label for="duck3" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck4" />
    <label for="duck4" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck5" />
    <label for="duck5" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck6" />
    <label for="duck6" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck7" />
    <label for="duck7" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck8" />
    <label for="duck8" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck9" />
    <label for="duck9" class="duck"></label>

    <input type="checkbox" class="shoot_check" id="duck10" />
    <label for="duck10" class="duck"></label>
    <div class="score"></div>
</body>