<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173468417-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173468417-1');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@complexprogrammer.uz">
    <meta name="twitter:title" content="Cartoonized your world!">
    <meta name="twitter:description" content="Want to see your cartoonized self? You can try image or video.">
    <meta name="twitter:creator" content="@ComplexProgrammer">
    <meta name="twitter:image" content="static/sample_images/twitter_image.png">
    <meta name="twitter:domain" content="http://complexprogrammer.uz/cartoonize">
    <link rel="icon" sizes="16x16" href="static/img/cartoonize.jpg">

    <title>Cartoonizer</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
 crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DHWL20H58');
</script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
    authDomain: "c0mplex.firebaseapp.com",
    projectId: "c0mplex",
    storageBucket: "c0mplex.appspot.com",
    messagingSenderId: "755681568857",
    appId: "1:755681568857:web:102b1b733df55baefe2948",
    measurementId: "G-95WQGY7X9E"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
    <style>
        html {
        box-sizing: border-box;
        }
        *, *:before, *:after {
        box-sizing: inherit;
        }
        body{
            background-color: whitesmoke;
            background-color: #212121;
            color: white
        }

        iframe[src*=youtube] {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    padding-bottom: 10px;
                }
    </style>
<!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
</head>

<body>
<!-- Yandex.RTB R-A-1963742-5 -->
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    type: 'fullscreen',
    platform: 'touch',
    blockId: 'R-A-1963742-5'
  })
})</script>
<div class="C0mplexButton float-end">
    <a href="/#services">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        X
    </a>
</div>
        <div id="loader" class="ui disabled dimmer">
            <div class="ui text loader">Preparing your cartoon! May take an extra few seconds for video :)</div>
        </div>


<div class='ui padded centered grid'>
    <!-- Messaging system -->
    <div class="row">
        <div class="center aligned column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div style="height:10%; display:flex; align-items: center; justify-content: center">
                        {% for category, message in messages %}
                            {% if category == error%}
                                <h3 style="color:red">{{ message }}</h3>
                            {% else %}
                                <h3 style="color:green">{{ message }}</h3>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    

    <!-- Heading of the page -->
    <div class="row">
        <div class='center aligned column'>
            <h1>Cartoon Maker Image Or Video </h1>
        </div>
    </div>
    
    <!-- Submission form -->
    <div class="row">
        <div class='center aligned column'>
            <form id='formsubmit' method="post" action="cartoonize" enctype = "multipart/form-data">
    
                <div class="ui buttons">
                    <div id='uploadimage' class="ui button" style="align-items: center;">
                        <i class="image icon"></i>
                        Image
                    </div>
                    <div class="or"></div>
                    <div id='uploadvideo' class="ui button" style="align-items: center;">
                        <i class="video icon"></i>
                        Video
                        <span style="font-size: 10px;">(Max 30MB)</span>
                    </div>
                </div>
        
                <input type='file' id='hiddeninputfile' accept="image/*" name = 'image' style="display: none"/>
                <input type="file" id="hiddeninputvideo" accept="video/*" name = 'video' style="display: none">
                <!-- <input id='submitbutton' class='ui button' type='submit'/> -->
            </form>
        </div>
    </div>
    {%if cartoonized_image or cartoonized_video%}
    <div class="row">
        <div class="column">
            <!-- Nested grid -->
            <div class="ui centered grid">
                <div class="row">
                    <div class="center aligned column">
                        {%if cartoonized_image%}
                        <div class="ui centered card">
                            <div class="image">
                                <img src="{{ cartoonized_image }}">
                            </div>
                        </div>
                        {%endif%}
                    
                        {%if cartoonized_video%}
                            <video id="player" width="320" height="240" controls>
                                <source type="video/mp4" src="{{cartoonized_video}}">
                            </video>
                        {%endif%}
                    </div>
                </div>
                <div class="row">
                    {%if cartoonized_video%}
                        <a href={{cartoonized_video}} download>
                            
                            <button class="ui primary button">
                                <i class="download icon"></i>
                                Download
                            </button>
                        </a>
                    {%endif%}
                    {%if cartoonized_image%}
                        <a href={{cartoonized_image}} download>
                            <button class="ui primary button">
                                <i class="download icon"></i>
                                Download
                            </button><br>
                            (Valid for 5 minutes only)
                        </a>
                    {%endif%}
                    
                </div>

            </div>
        </div>
    </div>
    {%endif%}

    <div class="ui divider"></div>
    <!-- Sample Images -->
    <div class="row">
        <!-- Yandex.RTB R-A-1963742-1 -->
        <div id="yandex_rtb_R-A-1963742-1"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1963742-1',
            blockId: 'R-A-1963742-1'
          })
        })</script>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/Elon_Musk.jpg">
        </div>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/Elon_Musk_cartoonized.jpg">
        </div>
    </div>
    <div class="row">
        <!-- Yandex.RTB R-A-1963742-3 -->
        <div id="yandex_rtb_R-A-1963742-3"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1963742-3',
            blockId: 'R-A-1963742-3'
          })
        })</script>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/Bill_Gates.jpg">
        </div>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/Bill_Gates_cartoonized.jpg">
        </div>
    </div>
    <div class="row">
        <!-- Yandex.RTB R-A-1963742-4 -->
        <div id="yandex_rtb_R-A-1963742-4"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1963742-4',
            blockId: 'R-A-1963742-4'
          })
        })</script>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/Jeff_Bezos.jpg">
        </div>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/Jeff_Bezos_cartoonized.jpg">
        </div>
    </div>


   

    <div class="row">
        <div class="center aligned column">
            <h3><i class="copyright outline icon"></i> 2022 Complex Programmer</h3>
        </div>
        <!-- Yandex.RTB R-A-1963742-6 -->
        <div id="yandex_rtb_R-A-1963742-6"></div>
        <script>window.yaContextCb.push(()=>{
          Ya.Context.AdvManager.render({
            renderTo: 'yandex_rtb_R-A-1963742-6',
            blockId: 'R-A-1963742-6'
          })
        })</script>
    </div>
    <!-- <div class="row">
        <h3>Made with <i class="heart icon"></i> by <a href="https://www.linkedin.com/in/nirajpandkar/">Niraj</a> and <a href="https://www.linkedin.com/in/tejas-mahajan-21175a118/">Tejas</a></h3>
    </div> -->
    
</div>


<script>
    $('.ui.accordion')
  .accordion()
;
    $("#uploadimage").on("click", function() {
        $('#hiddeninputfile').click(); 
    });

    $("#uploadvideo").on("click", function() {
        $('#hiddeninputvideo').click(); 
    });

    document.getElementById("hiddeninputfile").onchange = function() {
        $('#loader').removeClass('disabled').addClass('active');
        document.getElementById("formsubmit").submit();
        
    };
    document.getElementById("hiddeninputvideo").onchange = function() {
        const fi = document.getElementById('hiddeninputvideo'); 
        // Check if any file is selected. 
        if (fi.files.length > 0) { 
            for (const i = 0; i <= fi.files.length - 1; i++) { 
  
                const fsize = fi.files.item(i).size; 
                const file = Math.round((fsize / 1024)); 
                // The size of the file.
                //Change the max_file_size as per your need 
                const max_file_size = 30720;
                if (file >= max_file_size) { 
                    alert( 
                      "File too Big, please select a file less than 30mb (10 sec at 1080p or 5 sec at 4k)"); 
                } else { 
                    $('#loader').removeClass('disabled').addClass('active');
                    document.getElementById("formsubmit").submit();
                } 
            } 
        } 
        
        
    };
    var recorder = document.getElementById('recorder');
</script> 
</body>
</html>
