<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="icon" sizes="16x16" href="http://complexprogrammer.uz/static/img/globe.jpg">
<link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
<link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.default.css">
<link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.core.css">
<script src="http://complexprogrammer.uz/static/alertify/alertify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://complexprogrammer.uz/static/angular.min.js"></script>

    <style>
      body {
      background-image: url(/static/img/globe.jpg);
      background-size: cover;
	  background-position: top center;
	  position: relative;
	  z-index: 1;
      }
      table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
    }
   </style>
    <script>
      var app = angular.module("App", []);
      app.controller("IP", ["$scope", "$http", "$filter", function ($scope, $http, $filter) {
          LoadData();
          function LoadData(){
              document.getElementById('conn').style.visibility = "visible";
              $('#hh').modal({
                       backdrop: 'static',
                       keyboard: false
                })
              $http({
                  method: 'GET',
                  url: "/GetMyIPData",
                  dataType: "json"
              }).then(function (d) {
                  $scope.data = d.data.data;
                  $scope.ip = $scope.data.ip;
                  $("#hh").modal('hide');
                  document.getElementById('conn').style.visibility = "hidden";
              }, function (error) {
                    $("#hh").modal('hide');
                    document.getElementById('conn').style.visibility = "hidden";
                  console.log("error in GetMyIPData -> ", error);
                  alertify.error("Xatolik yuz berdi");
              });
          }
          $scope.IpFinder = function(ip) {
            document.getElementById('conn').style.visibility = "visible";
            $("#hh").modal({
                backdrop: 'static'
            });
              $http({
                  method: 'GET',
                  url: "/GetCustomIPData?ip=" + ip,
                  dataType: "json"
              }).then(function (d) {
                  $scope.data = d.data.data;
                  $("#hh").modal('hide');
                  document.getElementById('conn').style.visibility = "hidden";
              }, function (error) {
                    $("#hh").modal('hide');
                  document.getElementById('conn').style.visibility = "hidden";
                  console.log("error in GetCustomIpData -> ", error);
                  alertify.error("Xatolik yuz berdi");
              });
          }
          $scope.MyIP=function(){
             LoadData();
          }
          }]);


  </script>
    <meta charset="UTF-8">
    <title>Ip Finder</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
 crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8DHWL20H58');
</script>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
    authDomain: "c0mplex.firebaseapp.com",
    projectId: "c0mplex",
    storageBucket: "c0mplex.appspot.com",
    messagingSenderId: "755681568857",
    appId: "1:755681568857:web:102b1b733df55baefe2948",
    measurementId: "G-95WQGY7X9E"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</head>
<body ng-app="App" ng-controller="IP">
    <div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
        <img src="http://complexprogrammer.uz/static/img/buffering.gif" />
    </div>
    <input id="hh" type="hidden" />
{% raw %}
    <div class="C0mplexButton float-end">
        <a href="/#services">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            X
        </a>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="d-flex flex-row">
                        <h2 class="p-2">IP Finder</h2>
                        <h2 class="p-2" style="color:red">{{ip}}</h2>
                        <div class="p-2">
                         <a href="https://play.google.com/store/apps/details?id=ip.complexprogrammer.uz" target="_blank">
                            <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
                        </a>
                    </div>
                    </div>
                    <table class="table table-hover table-dark table-bordered">
                        <thead>
                            <tr>
                                <th><input type="text" ng-model="ip" class="form-control"></th>
                                <th>
                                    <button ng-click="IpFinder(ip)" class="btn btn-primary">IP Lookup</button>
<!--                                    <button ng-click="MyIP()" class="btn btn-success">My IP</button>-->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="data.ip!=null">
                                <td>IP Address</td>
                                <td>{{data.ip}}</td>
                            </tr>
                            <tr ng-show="data.city!=null">
                                <td>City</td>
                                <td>{{data.city}}</td>
                            </tr>
                            <tr ng-show="data.region!=null">
                                <td>Region</td>
                                <td>{{data.region}}</td>
                            </tr>
                            <tr ng-show="data.region_code!=null">
                                <td>Region code</td>
                                <td>{{data.region_code}}</td>
                            </tr>
                            <tr ng-show="data.country_code!=null">
                                <td>Flag</td>
                                <td><img src="https://ipapi.co/static/images/flags/{{data.country_code | lowercase}}.png"/></td>
                            </tr>
                            <tr ng-show="data.country_code!=null">
                                <td>Country code</td>
                                <td>{{data.country_code}}</td>
                            </tr>
                            <tr ng-show="data.country_code_iso3!=null">
                                <td>Country code iso3</td>
                                <td>{{data.country_code_iso3}}</td>
                            </tr>
                            <tr ng-show="data.country_name!=null">
                                <td>Country name</td>
                                <td>{{data.country_name}}</td>
                            </tr>
                            <tr ng-show="data.country_capital!=null">
                                <td>Country capital</td>
                                <td>{{data.country_capital}}</td>
                            </tr>
                            <tr ng-show="data.country_tld!=null">
                                <td>Country tld</td>
                                <td>{{data.country_tld}}</td>
                            </tr>
                            <tr ng-show="data.continent_code!=null">
                                <td>Continent code</td>
                                <td>{{data.continent_code}}</td>
                            </tr>
                            <tr ng-show="data.in_eu!=null">
                                <td>in eu</td>
                                <td>{{data.in_eu}}</td>
                            </tr>
                            <tr ng-show="data.postal!=null">
                                <td>Postal</td>
                                <td>{{data.postal}}</td>
                            </tr>
                            <tr ng-show="data.latitude!=null">
                                <td>Latitude</td>
                                <td>{{data.latitude}}</td>
                            </tr>
                            <tr ng-show="data.longitude!=null">
                                <td>Longitude</td>
                                <td>{{data.longitude}}</td>
                            </tr>
                            <tr ng-show="data.timezone!=null">
                                <td>Time zone</td>
                                <td>{{data.timezone}}</td>
                            </tr>
                            <tr ng-show="data.utc_offset!=null">
                                <td>Utc offset</td>
                                <td>{{data.utc_offset}}</td>
                            </tr>
                            <tr ng-show="data.country_calling_code!=null">
                                <td>Country calling code</td>
                                <td>{{data.country_calling_code}}</td>
                            </tr>
                            <tr ng-show="data.currency!=null">
                                <td>Currency</td>
                                <td>{{data.currency}}</td>
                            </tr>
                            <tr ng-show="data.currency_name!=null">
                                <td>Currency name</td>
                                <td>{{data.currency_name}}</td>
                            </tr>
                            <tr ng-show="data.languages!=null">
                                <td>Languages</td>
                                <td>{{data.languages}}</td>
                            </tr>
                            <tr ng-show="data.country_area!=null">
                                <td>Country area</td>
                                <td>{{data.country_area}}</td>
                            </tr>
                            <tr ng-show="data.country_population!=null">
                                <td>Country population</td>
                                <td>{{data.country_population}}</td>
                            </tr>
                            <tr ng-show="data.asn!=null">
                                <td>asn</td>
                                <td>{{data.asn}}</td>
                            </tr>
                            <tr ng-show="data.org!=null">
                                <td>org</td>
                                <td>{{data.org}}</td>
                            </tr>
                            <tr ng-show="data.hostname!=null">
                                <td>hostname</td>
                                <td>{{data.hostname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

{% endraw %}
</body>
</html>