 <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='/Games/Motorcycle/Images/moto.png') }}">
 <link href="/static/Games/Motorcycle/css.css" rel="stylesheet" />
 <title>Motorcycle</title>
<div id="MotorcycleBody">
    <canvas id="MotorcycleCanvas">
    </canvas>
    <div class="startScreen">
        <div class='Rasm'></div>
        <p class="glow">
            Boshlash uchun shu yerni bosing<br />
            Boshqarish uchun &#8592;, &#8594;, &#8593;, &#8595; yoki (a, d, w, s) tugmalaridan foydalaning<br />
            Boshqaruvni yo'qotsangiz yutqazasiz.
        </p>

    </div>
</div>
<script src="/static/Games/Motorcycle/js.js"></script>