<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8DHWL20H58');
    </script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-95WQGY7X9E"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
<!--    <script src="https://kit.fontawesome.com/f7eccd980a.js" crossorigin="anonymous"></script>-->
    <script src="https://kit.fontawesome.com/391652c176.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="icon" sizes="16x16" href="http://complexprogrammer.uz/static/img/favicon.ico">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.default.css">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.core.css">
    <script src="http://complexprogrammer.uz/static/alertify/alertify.min.js"></script>
    <script src="http://complexprogrammer.uz/static/jquery-3.4.1.min.js"></script>
    <script src="http://complexprogrammer.uz/static/angular.min.js"></script>
<!--    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="/static/css/dropify.min.css">
    <link rel="stylesheet" href="/static/password_generator/style.css">
    <script src="/static/password_generator/js.js"></script>

    <title>Secure Password Generator Tool</title>
</head>
<body ng-app="App" ng-controller="PasswordGenerator">
<!-- Yandex.RTB R-A-1963742-1 -->
<div id="yandex_rtb_R-A-1963742-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-1',
    blockId: 'R-A-1963742-1'
  })
})</script>
<div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
    <img src="http://complexprogrammer.uz/static/img/buffering.gif" />
</div>
<input id="hh" type="hidden" />
{% raw %}
<div class="container" >
    <div class="C0mplexButton float-end">
                <a href="/#services">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    X
                </a>
            </div>
    <h2>Secure Password Generator Tool
        <a href="https://play.google.com/store/apps/dev?id=6854503445964035235" target="_blank">
            <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
        </a>
    </h2>
    <div class="row">
        <div class="col">
            <div class="badge bg-success text-wrap">
                <i class="fa-regular fa-circle-check"></i> Generate Secure Unbreakable Passwords in Seconds!
            </div>
            <br>
            <br>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="Password" id="Password" aria-label="Recipient's username with two button addons">
              <button class="btn btn-outline-success" ng-click="Copy()" type="button"><i class="fa fa-copy"></i> Copy</button>
              <button class="btn btn-outline-warning" ng-click="Refresh()" type="button"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
            <br />
            <div class="badge bg-primary text-wrap">
              Password Length ( {{Model.PasswordLength}} Characters)
            </div>
            <div>
                <span id="rangeValue">0</span>
                <input class="range" type="range" value="8" min="0" max="100" id="myRange" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)"></input>
            </div>
            <script type="text/javascript">
                function rangeSlide(value) {
                    document.getElementById('rangeValue').innerHTML = value;
                }
            </script>
<!--            <div class="progress">-->
<!--              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>-->
<!--            </div>-->
        </div>
        <div class="col-1">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="Uppercase" ng-model="Model.Uppercase">
              <label class="form-check-label" for="Uppercase">Uppercase</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="Lowercase" ng-model="Model.Lowercase">
              <label class="form-check-label" for="Lowercase">Lowercase</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="Numbers" ng-model="Model.Numbers">
              <label class="form-check-label" for="Numbers">Numbers</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="Symbols" ng-model="Model.Symbols">
              <label class="form-check-label" for="Symbols">Symbols</label>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <br />
    <div class="row">
       <div class="col">
            <div class="card text-bg-info mb-12">
                <div class="card-header">Password Generator Tool (Explained):</div>
                <div class="card-body">
                    <h5 class="card-title">What is The Free Password Generator Tool?</h5>
                    <p class="card-text">
                        A password generator is a tool that helps you create strong, unique passwords for your accounts.
                        <br />
                        <br />
                        A good password should be at least 12-16 characters long and include a mix of uppercase and lowercase letters, numbers, and special characters.
                    </p>
                    <br />
                    <h5 class="card-title">How To Generate a Strong Password?</h5>
                    <p class="card-text">
                        When you visit this page (the tool), it will generate a random password based on the default parameters. This password has 36 lower and upper case letters, digits, and special characters.
                        <br />
                        <br />
                        You can change the length and kind of characters used in the password if you have specific needs.
                        <br />
                        <br />
                        To copy the password to the clipboard, simply click the copy button.
                    </p>
                    <br />
                    <h5 class="card-title">How To make sure you are safe?</h5>
                    <p class="card-text">
                        You should be aware of the following to keep your passwords safe from social engineering, brute force, or dictionary attacks and to keep your online accounts protected:
                        <br />
                        <br />
                        1. Do not use the same password, security question, and answer for multiple important accounts.
                        <br />
                        <br />
                        2. Use a password with at least 16 characters. Use at least one number, one uppercase letter, one lowercase letter, and one special symbol.
                        <br />
                        <br />
                        3. Do not use the names of your families, friends, or pets in your passwords.
                        <br />
                        <br />
                        4. Do not use postcodes, house numbers, phone numbers, birthdates, ID card numbers, social security numbers, and so on in your passwords.
                        <br />
                        <br />
                        5. Do not use any dictionary words in your passwords. Examples of strong passwords: CZ*1Qdrk5fLzBIE5G , t0^gwgx0NGCS*pzzZ*D78 , ApaQ7uKPE^!*LKXqx$X!V^9dSM.
                        <br />
                        <br />
                        Examples of weak passwords: pass12345, abc@123, 12345678910, yournamepassword.
                    </p>
                    <br />
                    <h5 class="card-title">What Makes a Password Secure?</h5>
                    <p class="card-text">
                        A secure password should be 8 characters long, but ideally 12 or 16 characters long.
                        <br />
                        <br />
                        Aside from length, it's critical not to reuse passwords across many online accounts. Millions of passwords have been made public in the past due to data breaches or hacking assaults.
                    </p>
                </div>
            </div>
       </div>
    </div>
</div>
<script src="http://complexprogrammer.uz/static/js/dropify.min.js"></script>
<script src="http://complexprogrammer.uz/static/js/dropifycustom.js"></script>
{% endraw %}
<!-- Yandex.RTB R-A-1963742-3 -->
<div id="yandex_rtb_R-A-1963742-3"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-3',
    blockId: 'R-A-1963742-3'
  })
})</script>
<!-- Yandex.RTB R-A-1963742-4 -->
<div id="yandex_rtb_R-A-1963742-4"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-4',
    blockId: 'R-A-1963742-4'
  })
})</script>
</body>
</html>