<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e815a36ng3");
</script>
        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8DHWL20H58');
    </script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW763C2');</script>
<!-- End Google Tag Manager -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-95WQGY7X9E"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <script src="https://kit.fontawesome.com/f7eccd980a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="icon" sizes="16x16" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/C0mplexButtonStyle.css">
    <link rel="stylesheet" href="/static/alertify/alertify.default.css">
    <link rel="stylesheet" href="/static/alertify/alertify.core.css">
    <script src="/static/alertify/alertify.min.js"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/translate/style.css">
    <script src="/static/translate/js.js"></script>

    <title>Translate</title>
</head>
<body ng-app="App" ng-controller="Translate">
<!-- Yandex.RTB R-A-1963742-1 -->
<div id="yandex_rtb_R-A-1963742-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-1',
    blockId: 'R-A-1963742-1'
  })
})</script>
<div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
    <img src="/static/img/buffering.gif" />
</div>
<input id="hh" type="text" class="fade hide" />
{% raw %}
<div class="container" >
    <div class="C0mplexButton float-end">
        <a href="/#services">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            X
        </a>
    </div>
    <h2>Translate
        <a href="https://play.google.com/store/apps/details?id=translate.complexprogrammer.uz" target="_blank">
            <img src="/static/img/google-play.svg" />
        </a>
    </h2>
    <div class="row text-center">
        <div class="col">
            <div class="C0mplexButton Info">
                <a href="#" ng-click="replace()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <select class="form-select" ng-change="getResult()" required name="src" ng-model="src" ng-options="item for item in Languages"></select>
        </div>
<!--        <div class="col-1">-->
<!--                <button class="btn btn-light" ng-click="replace()"><img src="/static/icons/left-right.svg"></button>-->
<!--        </div>-->
        <div class="col">
            <select class="form-select" ng-change="getResult()" required name="dest" ng-model="dest" ng-options="item for item in Languages"></select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea ng-model="text" id="text" class="form-control" cols="5" rows="15">

            </textarea>
        </div>
        <div class="col">
            <textarea ng-model="result" class="form-control" cols="5" rows="15" disabled>

            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-light" style="width:50px" ng-click="speech(text)"><img width="100%" src="/static/icons/icons9-voice-80.png"></button>
        </div>
        <div class="col">
            <button class="btn btn-light float-end" style="width:50px" ng-click="speech(result)"><img width="100%" src="/static/icons/icons9-voice-80.png"></button>
        </div>

    </div>
    <div class="C0mplexButton Success">
        <a href="#" ng-click="getResult()" style="width:100%;text-align:center">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa-solid fa-rotate"></i>
            Tarjima qilish
        </a>
    </div>
    <br />
    <div class="row">
       <div class="col">
            <div class="card text-bg-info mb-12">
                <div class="card-header">Free Translator (Explained):</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        Have you been thinking of using a 100% free AI Paragraph Translator tool to Translate Articles, Paragraphs, or simply anything between different languages?
                        <br />
                        <br />
                        If so, you are in the right place!
                        <br />
                        <br />
                        If you are new to this AI technology, let me explain.
                        <br />
                        <br />
                        Artificial intelligence tools are the latest trend today, and here on H-supertools, we are trying our best to develop the best AI tools that help you save time and money while working online. we launched first the free
                        <br />
                        <br />
                        AI content generator tool, and now the AI Paragraph Translator.
                    </p>
                    <br />
                    <h5 class="card-title">So in Short:</h5>
                    <p class="card-text">
                        WThis Free Tool Helps You Translate Paragraphs between different languages in seconds.
                        <br />
                        <br />
                    </p>
                    <br />
                    <h5 class="card-title">How To Use The Free AI Paragraph Translator tool?</h5>
                    <p class="card-text">
                        Here on H-supertools, our primary goal is to simplify things, so we create super powerful tools that work with a few clicks.
                        <br />
                        <br />
                        So, you need to paste the paragraph you want to translate, select the source and target language, click Translate, and let the AI do the rest!
                        <br />
                        <br />
                    </p>
                    <br />
                    <h5 class="card-title">Why do We have limits on the Input text?</h5>
                    <p class="card-text">
                        Maybe you are wondering why we have a 900 char limit on the input as This Tool is Free!
                        <br />
                        <br />
                        Unfortunately, Free Tools are always vulnerable to spammers, and to protect our website and keep it up for people who want real help. Therefore, we are obliged to set some limitations on usage.
                        <br />
                        <br />
                        The Good News is these limits will gradually increase as we monitor users' activity on this tool.
                        <br />
                        <br />
                    </p>
                    <h5 class="card-title">Available Languages:</h5>
                    <p class="card-text">
                        * Afrikaans
                        <br />
                        * Amharic
                        <br />
                        * Arabic
                        <br />
                        * Azerbaijani
                        <br />
                        * Belarusian
                        <br />
                        * Bulgarian
                        <br />
                        * Bengali
                        <br />
                        * Bosnian
                        <br />
                        * Catalan
                        <br />
                        * Cebuano
                        <br />
                        * Corsican
                        <br />
                        * Czech
                        <br />
                        * Welsh
                        <br />
                        * Danish
                        <br />
                        * German
                        <br />
                        * Greek
                        <br />
                        * English
                        <br />
                        * Esperanto
                        <br />
                        * Spanish
                        <br />
                        * Estonian
                        <br />
                        * Basque
                        <br />
                        * Persian
                        <br />
                        * Finnish
                        <br />
                        * French
                        <br />
                        * Frisian
                        <br />
                        * Irish
                        <br />
                        * Scots gaelic
                        <br />
                        * Galician
                        <br />
                        * Gujarati
                        <br />
                        * Hausa
                        <br />
                        * Hawaiian
                        <br />
                        * Hebrew
                        <br />
                        * Hindi
                        <br />
                        * Hmong
                        <br />
                        * Croatian
                        <br />
                        * Haitian creole
                        <br />
                        * Hungarian
                        <br />
                        * Armenian
                        <br />
                        * Indonesian
                        <br />
                        * Igbo
                        <br />
                        * Icelandic
                        <br />
                        * Italian
                        <br />
                        * Hebrew
                        <br />
                        * Japanese
                        <br />
                        * Javanese
                        <br />
                        * Georgian
                        <br />
                        * Kazakh
                        <br />
                        * Khmer
                        <br />
                        * Kannada
                        <br />
                        * Korean
                        <br />
                        * Kurdish (kurmanji)
                        <br />
                        * Kyrgyz
                        <br />
                        * Latin
                        <br />
                        * Luxembourgish
                        <br />
                        * Lao
                        <br />
                        * Lithuanian
                        <br />
                        * Latvian
                        <br />
                        * Malagasy
                        <br />
                        * Maori
                        <br />
                        * Macedonian
                        <br />
                        * Malayalam
                        <br />
                        * Mongolian
                        <br />
                        * Marathi
                        <br />
                        * Malay
                        <br />
                        * Maltese
                        <br />
                        * Myanmar (burmese)
                        <br />
                        * Nepali
                        <br />
                        * Dutch
                        <br />
                        * Norwegian
                        <br />
                        * Chichewa
                        <br />
                        * Odia
                        <br />
                        * Punjabi
                        <br />
                        * Polish
                        <br />
                        * Pashto
                        <br />
                        * Portuguese
                        <br />
                        * Romanian
                        <br />
                        * Russian
                        <br />
                        * Sindhi
                        <br />
                        * Sinhala
                        <br />
                        * Slovak
                        <br />
                        * Slovenian
                        <br />
                        * Samoan
                        <br />
                        * Shona
                        <br />
                        * Somali
                        <br />
                        * Albanian
                        <br />
                        * Serbian
                        <br />
                        * Sesotho
                        <br />
                        * Sundanese
                        <br />
                        * Swedish
                        <br />
                        * Swahili
                        <br />
                        * Tamil
                        <br />
                        * Telugu
                        <br />
                        * Tajik
                        <br />
                        * Thai
                        <br />
                        * Filipino
                        <br />
                        * Turkish
                        <br />
                        * Uyghur
                        <br />
                        * Ukrainian
                        <br />
                        * Urdu
                        <br />
                        * Uzbek
                        <br />
                        * Vietnamese
                        <br />
                        * Xhosa
                        <br />
                        * Yiddish
                        <br />
                        * Yoruba
                        <br />
                        * Chinese (simplified)
                        <br />
                        * Chinese (traditional)
                        <br />
                        * Zulu
                        <br />
                        We are trying our best to add more languages.
                        <br />
                        <br />
                    </p>
                    <h5 class="card-title">Prohibited Content</h5>
                    <p class="card-text">
                        We use Strict Filtering on bad content, so you are not allowed to use the tool for generating any of the following categories of content:
                        <br />
                        * Hate: content that expresses, incites, or promotes hate based on identity.
                        <br />
                        * Harassment: content that intends to harass, threaten, or bully an individual.
                        <br />
                        * Violence: content that promotes or glorifies violence or celebrates the suffering or humiliation of others.
                        <br />
                        * Self-harm: content that promotes, encourages, or depicts acts of self-harm, such as suicide, cutting, and eating disorders.
                        <br />
                        * Adult: content meant to arouse sexual excitement, such as describing a sexual activity or promoting sexual services (excluding sex education and wellness).
                        <br />
                        * Political: content attempting to influence the political process or be used for campaigning purposes.
                        <br />
                        * Spam: Unsolicited bulk content.
                        <br />
                        * Deception: false or misleading content, such as attempting to defraud individuals or spread disinformation.
                        <br />
                        * Malware: content that attempts to generate ransomware, keyloggers, viruses, or other software intended to impose some level of harm.
                        <br />
                    </p>
                </div>
            </div>
       </div>
    </div>
</div>
<script src="/static/js/dropify.min.js"></script>
<script src="/static/js/dropifycustom.js"></script>
{% endraw %}
<!-- Yandex.RTB R-A-1963742-3 -->
<div id="yandex_rtb_R-A-1963742-3"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-3',
    blockId: 'R-A-1963742-3'
  })
})</script>
<!-- Yandex.RTB R-A-1963742-4 -->
<div id="yandex_rtb_R-A-1963742-4"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-4',
    blockId: 'R-A-1963742-4'
  })
})</script>
</body>
</html>