<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(71109460, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/71109460" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8DHWL20H58');
    </script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-95WQGY7X9E"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <script src="https://kit.fontawesome.com/f7eccd980a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="icon" sizes="16x16" href="http://complexprogrammer.uz/static/img/favicon.ico">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/C0mplexButtonStyle.css">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.default.css">
    <link rel="stylesheet" href="http://complexprogrammer.uz/static/alertify/alertify.core.css">
    <script src="http://complexprogrammer.uz/static/alertify/alertify.min.js"></script>
    <script src="http://complexprogrammer.uz/static/jquery-3.4.1.min.js"></script>
    <script src="http://complexprogrammer.uz/static/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/dropify.min.css">
    <link rel="stylesheet" href="/static/translate/style.css">
    <script src="/static/translate/js.js"></script>

    <title>Translate</title>
</head>
<body ng-app="App" ng-controller="Translate">
<div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
    <img src="http://complexprogrammer.uz/static/img/buffering.gif" />
</div>
<input id="hh" type="hidden" />
{% raw %}
<div class="C0mplexButton float-end">
    <a href="/#services">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        X
    </a>
</div>
<div class="container" >
    <h2>Translate
        <a href="https://play.google.com/store/apps/details?id=translate.complexprogrammer.uz" target="_blank">
            <img src="http://complexprogrammer.uz/static/img/google-play.svg" />
        </a>
    </h2>
    <div class="row text-center">
        <div class="col">
            <div class="C0mplexButton Info">
                <a href="#" ng-click="replace()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <select class="form-select" ng-change="getResult()" required name="src" ng-model="src" ng-options="item for item in Languages"></select>
        </div>
<!--        <div class="col-1">-->
<!--                <button class="btn btn-light" ng-click="replace()"><img src="/static/icons/left-right.svg"></button>-->
<!--        </div>-->
        <div class="col">
            <select class="form-select" ng-change="getResult()" required name="dest" ng-model="dest" ng-options="item for item in Languages"></select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea ng-model="text" id="text" class="form-control" cols="5" rows="15">

            </textarea>
        </div>
        <div class="col">
            <textarea ng-model="result" class="form-control" cols="5" rows="15" disabled>

            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-light" style="width:50px" ng-click="speech(text)"><img width="100%" src="/static/icons/icons9-voice-80.png"></button>
        </div>
        <div class="col">
            <button class="btn btn-light float-end" style="width:50px" ng-click="speech(result)"><img width="100%" src="/static/icons/icons9-voice-80.png"></button>
        </div>

    </div>
    <div class="C0mplexButton Success">
        <a href="#" ng-click="getResult()" style="width:100%;text-align:center">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa-solid fa-rotate"></i>
            Tarjima qilish
        </a>
    </div>
</div>
<script src="http://complexprogrammer.uz/static/js/dropify.min.js"></script>
<script src="http://complexprogrammer.uz/static/js/dropifycustom.js"></script>
{% endraw %}
</body>
</html>