<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90624869, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90624869" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<meta name="yandex-verification" content="6bd5e2cc7d84e7b1" />
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7773722896374259"
     crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DHWL20H58"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8DHWL20H58');
    </script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyDpWaFi5QLTNc-yY0ieMKJtGOmbm2ofBm4",
        authDomain: "c0mplex.firebaseapp.com",
        projectId: "c0mplex",
        storageBucket: "c0mplex.appspot.com",
        messagingSenderId: "755681568857",
        appId: "1:755681568857:web:102b1b733df55baefe2948",
        measurementId: "G-95WQGY7X9E"
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><link rel="icon" sizes="16x16" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/C0mplexButtonStyle.css">
    <link rel="stylesheet" href="/static/alertify/alertify.default.css">
    <link rel="stylesheet" href="/static/alertify/alertify.core.css">
    <script src="/static/alertify/alertify.min.js"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/angular.min.js"></script>
    <script src="/static/login/auth.js"></script>
    <script src="/static/base.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dropify.min.css">
    <title>Youtube Downloader</title>
    <style>
        body {
            background-color: #212121;
            color: white;
        }
    </style>
</head>
<body ng-app="App" ng-controller="Base" class="modal-open">
<!-- Yandex.RTB R-A-1963742-1 -->
<div id="yandex_rtb_R-A-1963742-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-1',
    blockId: 'R-A-1963742-1'
  })
})</script>
<div id="conn" style="visibility:hidden;position:absolute;margin-left:45%;margin-top:20%;z-index:9999">
    <img src="http://complexprogrammer.uz/static/img/buffering.gif" />
</div>
<input id="hh" type="text" class="fade hide" />
{% raw %}
<div class="C0mplexButton float-end">
    <a href="/#services">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        X
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src="http://complexprogrammer.uz/static/img/C0mplex.png" class="img-fluid" alt="...">
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="/static/img/youtube.png" class="img-fluid" alt="...">
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Yandex.RTB R-A-1963742-3 -->
            <div id="yandex_rtb_R-A-1963742-3"></div>
            <script>window.yaContextCb.push(()=>{
              Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1963742-3',
                blockId: 'R-A-1963742-3'
              })
            })</script>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-dark mb-3">
              <div class="card-header">
                Youtube Downloader
              </div>
              <div class="card-body">
                    <h5 class="card-title">youtube downloader converter</h5>
                    <p class="card-text">A simple Website that is able to download YouTube videos or playlists and convert them into MP3.</p>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button ng-click="UrlTo(1)" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span class="material-icons">video_file</span> .mp4</button>
                      </li>
<!--                      <li class="nav-item" role="presentation">-->
<!--                        <button ng-click="UrlTo(2)" class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Playlist url to mp4s</button>-->
<!--                      </li>-->
                      <li class="nav-item" role="presentation">
                        <button ng-click="UrlTo(3)" class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="material-icons">audio_file</span> .mp3</button>
                      </li>
                    </ul>
                    <div class="input-group mb-3">
                      <input type="text" ng-model="link" class="form-control" placeholder="Youtube video url" aria-label="Youtube video or playlist url" aria-describedby="button-addon2">
                      <button class="btn btn-outline-success" type="button" ng-click="youtube_downloader()" id="button-addon2">Convert</button>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Yandex.RTB R-A-1963742-4 -->
<div id="yandex_rtb_R-A-1963742-4"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-1963742-4',
    blockId: 'R-A-1963742-4'
  })
})</script>
{% endraw %}
</body>
</html>